:root {
  --square-size: 10rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  padding: 5rem;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 2rem;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background: rgb(182, 182, 182);
  margin: 1rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.square {
  width: var(--square-size);
  height: var(--square-size);
  /* background-color: black; */
  border: 1px solid black;
  cursor: pointer;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* remove top border */
.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
  border-top: none;
}

/* remove left border */
.square:first-child,
.square:nth-child(4),
.square:nth-child(7) {
  border-left: none;
}

/* remove bottom border */
.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
  border-bottom: none;
}

/* remove right border */
.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
  border-right: none;
}
